<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8">
    <title>홈 | 케이넷소프트</title>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3198334402929861" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div class="logo-container">
        <img src="..\static\assets\img\illustrations\logo.png" alt="케이넷소프트 로고" style="max-width: 40%; height: auto;">
      </div>
      <nav>
        <ul>
          <li><a href="/netcloud">공식샵</a></li>
          <li><a href="/guide">사용법</a></li>
          <li><a href="/discord">디스코드</a></li>
          <li><a href="/create">쇼핑몰생성</a></li>
        </ul>
      </nav>
    </header>
    <br>
    <br>
    <section id="texts">
      <div class="container_main">
        <h1 class="title_main">케이넷소프트가가 제공하는 다양한 서비스로<br>여러가지 온라인 서비스를 저렴한 가격으로 시작해보세요.</h1>
        <div class="button_main-container">
          <a href="/netcloud" class="button_main">
            호스팅 구매
          </a>
          <a href="/openmarket" class="button_main">
              오픈마켓 서비스
          </a>
        </div>
    </div>
    </section>
    <footer>
      <div class="left">
        ©2024 NETCLOUD
        <p style="font-size: 10px;">상호 : 케이넷소프트 | 대표 : 박건희<br>
          주소 : 경기도 고양시 덕양구 도래울로 16<br>
          개인정보관리 책임자 : 박건희 (stone@net-cloud.kr)<br>
          사업자등록번호 : 228-04-06712<br>
          통신판매업 신고 : 제 2024 고양덕양 - 0000호 <a style="color: green;" href="../static/assets/img/illustrations/buisness.png">[사업자 정보 확인]</a><br>
          고객지원 : 0507-1374-6680</p>
      </div>
      <div class="right">
        <p>
          <a href="/support">고객 지원</a><br>
          <a href="/이용약관">이용약관</a><br>
          <a href="/개인정보처리빙침">개인정보 처리방침</a>
        </p>
      </div>
    </footer>
  </body>
</html>